{% extends 'base.html' %}
{% block content %}
<h1 class="mb-4">Uploaded Files</h1>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Filename</th>
      <th>Uploaded By</th>
      <th>Expiry</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for f in files %}
    <tr>
      <td>{{ f.code }}</td>
      <td>{{ f.filename }}</td>
      <td>{{ f.uploaded_by }}</td>
      <td>{{ f.expiry }}</td>
      <td>
        <form action="/admin/files/delete" method="post" class="d-inline">
          <input type="hidden" name="code" value="{{ f.code }}">
          <button class="btn btn-sm btn-danger" type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
